body{
   font-family: "Open Sans", Arial, Helvetica, sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #fff 0%, #f6f5f9 100%);
  font-size: 15px;
  margin: 0px !important;
  width: 100% !important;
}
.header {
  overflow: hidden;
  background-color: black;
  padding: 15px 10px;

}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
 
  line-height: 15px;
  border-radius: 4px;
  padding-right: 7%;
  font-family: 'Eina01-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: .8125rem;
    line-height: 1.25rem;
    
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 18px;
  font-weight: bold;
}


/* Float the link section to the right */
.header-right {
  text-transform: uppercase;
}
.content
{
  padding-top: 5.5rem ;
      height: 144px;
      letter-spacing: -0.02em;
    font-weight: 600;
    font-size: 4.25rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.contentdetlais
{
  padding:-90px 0;
    font-size: 1.625rem;
    font-weight: 100 !important;
    line-height: 2.25rem;
    margin: 1.5rem 0;
    letter-spacing: -.030625rem;
    margin: 1.5rem 0px;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.wapper
{
  width: 100% !important;
  max-width: 1200px;
  margin: 60px auto;
 
}
.pricediv
{  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  
   align-items: flex-start;
  grid-column-gap: 8%;
  padding-top: 6rem;
  margin:20%;
  margin-top:0 !important;
  margin-bottom:0 !important;
  z-index: -1;
}
.pricebox
{
  overflow: hidden;
  border-radius: 5px;
  transition-delay: 0.3s;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.13);
  border-radius: .625rem !important;
  z-index: 100;
  background: white;
      
    opacity: 1;
    transform: rotateX(0deg) translateZ(0px); 
    
}
.pricebox:hover
{
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;

}

.pricebox:nth-child(1)  {
  background: linear-gradient(to top, #ff416c, #ff4b2b);
   color: white;

} 
.title
{
  font: 400 16px/1.5 system-ui,-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 3.4375rem 3.125rem 2.8125rem;
  color: black;


}
.title b
{
  font-size: .8125rem !important;

}
.pricebox:nth-child(1) .title
{
  color: white;

}
.price .tag
{
  font-size: 4.5rem;
   
    letter-spacing: 0;
    
  padding: 2.8125rem 3.125rem 1.25rem;
}
.price span
{
 
 font-size: 0.9rem;
     opacity: 1;
    color: rgba(255,255,255,0.75);
}
.discount
{
     margin-top: -46px;
}
.price a
{
 text-decoration: none;
 font-size: 0.9rem;
 color: #fff;
 border-bottom: 1px dashed white;
}
.footer
{
  padding: 2.8125rem 3.125rem;
}

.footer .detalis
{
  font: 400 16px/1.5 system-ui,-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility;
  margin-bottom: 2.5rem;
   opacity: 1;
    color: rgba(255,255,255,0.75);
  
}
.pricebox:nth-child(2) .footer .detalis,.pricebox:nth-child(2) .price span
{
color: rgba(12,8,32,0.4);
}
.pricebox:nth-child(2) .price a
{
border-bottom: 1px dashed rgba(12,8,32,0.4);
color: rgba(8, 8, 8, 0.87);
}
.footer .button a
{
    background-color: rgba(255,255,255,0.2) !important;
    border: 1px solid rgba(255,255,255,0.3) !important;
    border-radius: .1875rem !important;
     backdrop-filter: blur(10px);
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    padding: 1.1875rem 1.875rem 1.0625rem;
    vertical-align: middle;
    color: white !important;
}
.pricebox:nth-child(2) .footer .button a
{
  
    background: #fcfcfc !important;
    border:  1px solid rgba(0,0,0,0.1) !important;
    height: 4rem;
    line-height: 1.15rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
    color: black !important;
}
.tabs a:first-child {
    padding-left: 1.25rem;
    border-radius: 1.5rem 0 0 1.5rem;
    border-left: 1px solid rgba(16,15,38,0.12);
}
.tabs a:last-child {
    padding-right: 1.25rem;
    border-radius: 0 1.5rem 1.5rem 0;
}
.tabs a {
    border: 1px solid rgba(16,15,38,0.12);
    border-left: 0;
    padding: .5rem 1rem;
    min-width: 11.25rem;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
   color:black;
   margin-left: -4px;
   
}
.tabs a.active {
    background: #100F26;
    color: #FFF !important;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
 
  background: #b3aeae !important;
  border-radius: 1px;
 
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px border-radius, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3174ad;
}

input[type=range] {
    
   width: 293px;
    height: 56px;
    padding-top: 5px;
    overflow: hidden;
    margin: 0;
    margin-left: -20px;
    transform-style: preserve-3d;
    perspective: 300;
    transform-origin: 50% 50% 300px;
    perspective-origin: 50% -121%;
    text-decoration: none;
    transform: skew(0deg);

      }
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px black, 0px 0px 1px black;
  border: 10px solid black;
  height: 30px;
  width: 30px;
  border-radius: 20px;
 background: black;
 margin-top: -12px;
 text-align: center;
 
}
input[type=range]:after {
    content: "";
    position: absolute;
    background: black;
    width: 12px;
    left: 1px;
    border-radius: 50%;
    height: 12px;
    top: 27px;
    z-index: 1;
    color: white;
    box-shadow: 46px 0 0 black, 104px 0 0 black, 280px 1px 0 black;
}


.pricing-explained-cards {
    position: relative;
    background: red;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f5f9));
    background: linear-gradient(to bottom, #fff 0%, #f6f5f9 100%);
}

.pricing-explained-cards::after {
    content: '';
    display: block;
    padding-bottom: 3%;
    background-image: url(https://www.sketch.com/images/pages/pricing/triangle-edge.svg);
    
    margin-left: -5%;
    margin-bottom: -0.625rem !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    z-index: 90;
}
.price-shape {
    position: absolute;
    will-change: opacity;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    z-index: 1;
}
.price-shape.shape-01 {
    bottom: 6.25rem;
    left: 5%;
}
.price-shape.shape-02{bottom:4.375rem;left:17%}
.price-shape.shape-03{bottom:15rem;left:12%}
.price-shape.shape-04{bottom:7.5rem;left:22%}
.price-shape.shape-05{left:14%;bottom:-50px}
.price-shape.shape-06{left:68%;bottom:100px}
.price-shape.shape-07{left:47%;bottom:300px}
.price-shape.shape-08{bottom:-60px;left:-100px}
.price-shape.shape-09{left:85%;bottom:-60px}
.price-shape.shape-10{left:67%;bottom:225px}
.price-shape.shape-11{left:41%;bottom:10px}
.price-shape.shape-12{left:79%;bottom:100px}
.price-shape.shape-13{left:81%;bottom:140px}
.price-shape.shape-14{left:75%;bottom:10px}
.price-shape.shape-15{left:95%;bottom:100px}
.shape-ball{will-change:transform;-webkit-transition:-webkit-transform 0.3s;transition:-webkit-transform 0.3s;transition:transform 0.3s;transition:transform 0.3s, -webkit-transform 0.3s}
.price-shape.ball-type{opacity:0;-webkit-transform:scale(0.5);transform:scale(0.5);will-change:transform, opacity;-webkit-transition:opacity 0.5s, -webkit-transform 0.5s;transition:opacity 0.5s, -webkit-transform 0.5s;transition:transform 0.5s, opacity 0.5s;transition:transform 0.5s, opacity 0.5s, -webkit-transform 0.5s}
.pricing-explained-cards::before {
    content: '';
    position: absolute;
    height: 4.375rem;
    background-color: #fff;
    bottom: -4.375rem;
    width: 100%;
    left: 0;
    z-index: 10;
}
.pricing-explained-cards>.wrapper {
    padding-bottom: 0 !important;
    margin-bottom: -10.3125rem !important;
    z-index: 100;
    position: relative;
}
.pricing-explained-shapes {
       bottom: 10%;
    width: 93%;
    left: 0;
    height: 600px;
    position: absolute;
    will-change: transform;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.s1
{
  
  left: 15px; 
  top: 394px;
}
.s2
{
  left: -17px !important; top: 114px !important;
}
.s3
{
  left: 73px!important; top: 441px!important;
}
.s4
{
  left: 169px!important; top: 63px!important;
}
.s4
{left: 111px!important; top: 92px!important;}
.s5
{left: -22px!important; top: 153px!important;}
.s6
{left: 72px!important; top: 283px!important;}
.s7
{left: 125px!important; top: 237px!important;}
.s8
{left: 131px!important; top: 20px!important;}
.s9
{left: 15px!important; top: 107px!important;}
.s10
{left: 327.5px!important; top: 360px!important;}
.s11
{left: 351.5px!important; top: 186px!important;}
.s12
{left: 211.5px!important; top: 448px!important;}
.s13
{left: 229.5px!important; top: 279px!important;}
.s14
{left: 359.5px!important; top: 430px!important;}
.s15
{left: 331.5px!important; top: 225px!important;}
.s16
{left: 352.5px!important; top: 514px!important;}
.s17
{left: 407.5px!important; top: 516px!important;}
.s18
{left: 294.5px!important; top: 467px!important;}
.s19
{left: 388.5px!important; top: 388px!important;}
.s20
{left: 473px!important; top: 178px!important;}
.s21
{left: 526px!important; top: 175px!important;}
.s22
{left: 565px!important; top: 183px!important;}
.s23
{left: 587px!important; top: 367px!important;}
.s24
{left: 496px!important; top: 317px!important;}
.s25
{left: 563px!important; top: 150px!important;}
.s26
{left: 627px!important; top: 163px!important;}
.s27
{left: 644px!important; top: 529px!important;}
.s28
{left: 443px!important; top: 178px!important;}
.s29
{left: 647px!important; top: 135px!important;}
.s30
{left: 740.5px!important; top: 319px!important;}
.s31
{left: 692.5px!important; top: 95px!important;}
.s32
{left: 705.5px!important; top: 191px!important;}
.s33
{left: 776.5px!important; top: 199px!important;}
.s34
{left: 717.5px!important; top: 200px!important;}
.s35
{left: 718.5px!important; top: 161px!important;}
.s36
{left: 790.5px!important; top: 284px!important;}
.s37
{left: 705.5px!important; top: 14px!important;}
.s38
{left: 838.5px!important; top: 296px!important;}
.s39
{left: 729.5px!important; top: 56px!important;}
.s40
{left: 990px!important; top: 504px!important;}
.s41
{left: 1054px!important; top: 557px!important;}
.s42
{left: 969px!important; top: 86px!important;}
.s43
{left: 984px!important; top: 40px!important;}
.s44
{left: 1024px!important; top: 555px!important;}
.s45
{left: 1069px!important; top: 263px!important;}
.s46
{left: 1083px!important; top: 123px!important;}
.s47
{left: 1054px!important; top: 68px!important;}
.s48
{left: 976px!important; top: 514px!important;}
.s49
{left: 1086px!important; top: 235px!important;}
.s50
{left: 1150.5px!important; top: 526px!important;}
.s51
{left: 1350.5px!important; top: 490px!important;}
.s52
{left: 1301.5px!important; top: 384px!important;}
.s53
{left: 1182.5px!important; top: 369px!important;}
.s54
{left: 1176.5px!important; top: 146px!important;}
.s55
{left: 1213.5px!important; top: 403px!important;}
.s56
{left: 1331.5px!important; top: 314px!important;}
.s57
{left: 1339.5px!important; top: 146px!important;}
.s58
{left: 1156.5px!important; top: 251px!important;}
.s59
{left: 1151.5px!important; top: 138px!important;}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media screen and (min-device-width: 481px) and (max-device-width: 768px)
{
  .pricediv{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;

  }
 .tabs a {
    min-width: 0;
}
}
@media screen and (min-device-width: 300px) 
{
   .footer .button a
  {
  padding: 7%;
  }
  .price .tag
{
  
    
  padding: 2.8125rem 1.125rem 1.25rem;
  text-align: center;
}
.pricebox
{
  margin-top: 5%;
}
}

@media screen and (max-device-width: 360px) 
{
.pricediv
{
margin: 0%; 
}
 .tabs a {
    min-width: 0;
    font-size: .6875rem;
    white-space: nowrap !important;
    padding: .5rem .625rem !important;
}
}
@media screen and (max-width: 767px)
{
 .wrapper {
    padding: 5rem 0;
}
}


